{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!{% endblock %}

{% block body %}

    <div class="container-md">
        <h1 class="text-center">Het geheime dierenrijk</h1>
            <p class="text-center">Wij zijn Pleun, Sanne en Harun <br> Dit is onze website waar wij ons geheimen dierenrijk laten zien</p>
    </div>
{% endblock %}
